
.imgCard {
   
    width: 100%;
    height: 100%;
    /* 
    width: auto;
    height: auto;
    */
}
.colorVerde{
    color: #2B9E44 !important;
}

nav {
    /*height: 70px;
    height: 100%;
    width: auto;
    */
    padding-left: 30px;
    padding-right: 30px;
    background-color:#353A40 !important;
    flex-direction: justify-content;

}
#titulo {
    text-align:center;
    align-items: center;
}

#tituloOradores {
    text-align:center;
    align-items: center;
    
}

#contenido {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 30px;
    padding-top: 30px;
}



#lugar {
    display:flex;
    /* margin: 0%;
    padding: 0; */
    align-items: justify-content;
    background-color:#353A40;
    
}

#lugar-texto{
    background-color:#353A40;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: auto; */
    

}
#img-lugar{
    margin: 0%;
    padding: 0;
}

#contenido-form {
    /*
    padding-top: 20px;
    padding-left: 250px;
    padding-right: 250px;
    */
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.colorGris{
    color:rgb(130, 129, 133);
}

.colorBtnEnviar {
    background-color:#96C93E;
}

footer {
    
    
    color: white;
    width:auto; 
    background-image: linear-gradient(120deg, #283e4d 50%, rgb(24, 78, 112)  100%);
    /*
    background-color:#224a62; 
    text-indent: 150px;
    height: 40px;
    */

}
/*
/* lo que use para el footer
https://getbootstrap.com/docs/5.1/layout/grid/

https://pinetools.com/es/obtener-colores-imagen

*/

.botones {
    font: bold !important ;

}

.btn {
    bottom: font-weight-bold;
}


/*
pone el texto en negrita en boostrap
fw-bold
*/

/*
https://www.jose-aguilar.com/blog/como-funcionan-las-imagenes-en-bootstrap-4/#codesyntax_2

*/